<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="MainUrl" value="http://bacqa.7degrees.co/Account/login?ReturnUrl=%2F"/>
    <add key="ForgetPassword" value="http://bacqa.7degrees.co/Account/ForgotPassword"/>
  </appSettings>
</configuration>